


@media screen and (min-width: 768px ) {
    .qrcode {
        margin: 0px !important;
        margin-top: 5px !important;
        margin-left: auto !important;
        margin-bottom: -114px !important;
        margin-right: -10px !important;
    }

    .social-links {
        display: block;
    }
}


@media screen and (max-width: 990px ) {
    .material-template {
        margin-top: -50px;
    }

    header#site_header {
        margin-top: -50px;
        height: 100vh;
    }
}